.header {
  position: fixed;
  top: 56px;
  width: 640px - 10px; // panel - scrollbar
  height: 48px;
  background-color: rgb(249, 249, 250);
  display: flex;
  justify-content: space-between;
  z-index: 1;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.innerMenu {
  display: flex;
  align-items: center;
}

.iconButton {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  padding: 12px;
}
