.content {
  margin: 56px 0;
  overflow-x: hidden;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 16px;
  @media screen and (max-width: 768px) {
    padding: 0px 4px;
  }
}
