.header {
  display: flex;
  position: fixed;
  z-index: 3;
  width: 100%;
  box-shadow: 0 2px 8px #f0f1f2;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  font-family: 'Baumans', 'Nanum Gothic', sans-serif;
  a {
    text-decoration: none !important;
    font-size: 21px;
    letter-spacing: 1px;
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .title,
  .search {
    display: none !important;
  }
}
