.header {
  display: flex;
  position: fixed;
  z-index: 3;
  width: 100%;
  box-shadow: 0 2px 8px #f0f1f2;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  font-family: 'Baumans', 'Nanum Gothic', sans-serif;
  a {
    text-decoration: none !important;
    font-size: 21px;
    letter-spacing: 1px;
    display: inline-block;
  }
}
.searchInput {
  max-width: 256px;
  margin: 10px 12px !important;
}

@media (max-width: 768px) {
  .header {
    padding: 0 4px !important;
  }
  .container {
    padding: 0;
  }
  .title {
    display: none !important;
  }
  .menuText {
    display: none !important;
  }
  .searchInput {
    display: none !important;
  }
  .menu {
    display: flex !important;
    width: 100% !important;
    justify-content: space-between !important;
    li {
      flex-grow: 1;
      text-align: center;
    }
    i {
      margin-right: 0 !important;
    }
  }
}
@media (min-width: 769px) {
  .searchMenu {
    display: none !important;
  }
}
