@import '~antd/dist/antd.less';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// FIXME: Drawer 사용하는 컴포넌트 module.less의 global로 정의하기
.ant-drawer-content-wrapper {
  height: 913px;
  position: fixed;
  top: 56px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.7em;
  }
}