.itemContainer {
  display: flex;
  align-items: center;
  height: 56px;
  background-color: #fff;
}
.itemContent {
  flex: 1;
  min-width: 0;
  height: 100%;
  border-bottom: 1px solid #d9d9d9;
  margin: 0px 8px;
  padding: 4px 0px;
  cursor: pointer;
  user-select: none;
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0a0a0a;
}
.dragHandle {
  display: flex;
  align-items: center;
  height: 100%;
  &:hover {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
}
.tags {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  span {
    margin-right: 4px;
    padding: 0px 2px;
  }
}
