.titleSection {
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 1;
}

.bookmarkButton {
  margin-right: 8px;
}

.description {
  margin-bottom: 8px;
}

.metadata {
  margin-bottom: 8px;
}
